@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

$main-color: rgb(96, 96, 255);
$main-white: rgb(233, 233, 233);

* {
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
    color: inherit;
    word-break: break-word;
    font-weight: inherit;
    font-size: inherit;
}

body {
    background-color: rgb(247, 247, 247);
    font-family: 'Lato'; 
}

main {
    margin-top: 3rem;
    margin-bottom: 3rem;
    padding: 1rem 3rem;
}

.wrapper {
    max-width: 1720px;
    margin: 0 auto;
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    font-weight: bold;
}

img {
    border-radius: 5px;
}

input,
textarea,
select {
    border: none;
    border-radius: 5px;
    box-shadow: grey 3px 4px 10px;
    padding: 0.2rem 0.5rem;
    width: 100%;
    max-width: 100%;
    resize: none;

    @media (min-width: 520px) {
        width: 15rem;
    }
}

textarea {
    height: 10rem;
}

.form__item {
    margin-bottom: 0.5rem;
    display: flex;
    flex-wrap: wrap;

    label {
        width: 100%;
        margin-bottom: 0.5rem;
    }
}

button {
    border: none;
    background-color: $main-color;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 5px;
    color: $main-white;
    box-shadow: rgba(0, 9, 61, 0.2) 0px 4px 8px 0px;
    font-weight: bold;
    transition: 0.2s ease;

    &:hover {
        background-color: rgb(71, 71, 190);
    }
}

.comment {
    margin-bottom: 1rem;
    border-left: solid 3px #0d6efd;
    padding-left: 1rem;
}

.update-form {
    display: none;
}

.show-update {
    margin-bottom: 2rem;
}

.show-form {
    display: block;
}

.admin-title {
    margin-bottom: 4rem;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3rem;
    color: $main-white;
    
    a {
        padding: 0 1rem;
        font-weight: bold;
        transition: 0.2s ease;

        &:last-child {
            padding-right: 0;
        }

        &:hover {
            color: $main-color;
        }
    }

    .logo {
        padding-left: 0;
        transition: 0.2s ease;

        svg {
            width: 3rem;
            
            path {
                fill: rgb(157, 164, 179);
            }
        }

        &:hover {
            color: inherit;
            transform: scale(1.03);
        }
    }

    .nav__left {
        display: flex;
        align-items: center;
    }
}

header {
    height: 30rem;
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0, 0, 0, 0.1)), url('../images/banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
    margin-bottom: 2rem;
}

footer {
    background-color: rgb(194, 194, 194);
    height: 10rem;
    margin-top: 3rem;

    .footer__inner {
        padding: 1rem 3rem;
        display: flex;
        flex-wrap: wrap;
        width: 10rem;

        a {
            margin-bottom: 1rem;
            transition: 0.2s ease;

            &:hover {
                color: $main-color;
            }
        }
    }
}

.post-link {
    transition: 0.2s ease;
    font-weight: bold;

    &:hover {
        color: $main-color;
    }
}

.home__articles,
.profile__articles {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
    margin-bottom: 3rem;
    margin-top: 2rem;
    
    @media (min-width: 500px) {
        grid-template-columns: 1fr 1fr;
    }

    @media (min-width: 700px) {
        grid-template-columns: 1fr 1fr 1fr;
    }

    @media (min-width: 1100px) {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .home_item,
    .profile_item {
        width: 100%;
        margin-bottom: 2rem;
        transition: 0.2s ease;

        &:hover {
            transform: scale(1.03);
        }

        .img_container {
            width: 100%;
            height: 15rem;
        }

        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }

        &__title {
            font-weight: bold;
            font-size: 1.2rem;
        }

        &__description {
            margin-bottom: 0.5rem;
            font-style: italic;
        }

        &__price {
            // color: rgb(172, 46, 46);
            font-weight: bold;
        }
    }
}

.profile-info {
    p {
        margin-bottom: 1rem;
        
        span {
            font-weight: bold;
        }
    }
}

.update-form {
    margin-bottom: 2rem;
}

.detail {
    &-info {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: 3rem;

        h2 {
            font-size: 2rem;
            margin-bottom: 0.5rem;
        }

        .price {
            margin-bottom: 1rem;
        }

        &__img {
            @media (min-width: 600px) {
                height: 100%;
            }

        }

        .detail-info__img {
            height: 40rem;

            @media (min-width: 600px) {
                width: 48%;
            }
        }

        .detail-info__info {
            @media (min-width: 600px) {
                width: 48%;
            }
        }

        div {
            width: 100%;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    .comment {
        margin-bottom: 2rem;

        p {
            margin-bottom: 1rem;
        }

        span {
            font-weight: bold;
        }

        &__buttons {
            display: flex;

            button {
                margin-right: 1rem;
            }

            .button-delete {
                background-color: rgb(209, 40, 40);
                transition: 0.2s ease;

                &:hover {
                    background-color: rgb(158, 42, 42);
                }
            }
        }
    }
}

.detail__brand,
.detail__type {
    margin-top: 1rem;
    color: $main-white;
    border-radius: 5px;
    background-color: $main-color;
    width: max-content;
    width: fit-content;
    padding: 0.25rem 0.50rem;
}

.detail__type {
    background-color: rgb(172, 78, 23);
}

.no-comment {
    margin-bottom: 1rem;
}

.admin__users {
    margin-bottom: 1rem;
}

.admin-user-title {
    margin-top: 1rem;
}

.update-comments {
    margin-top: 1rem;
    display: none;

    label {
        display: block;
        margin-bottom: 0.5rem;
    }

    textarea {
        display: block;
        height: 7rem;
        margin-bottom: 0.5rem;
    }
}

.show-update-comment {
    display: block;
}

.home__top {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.brands {
    display: flex;
    flex-wrap: wrap;

    form {
        margin-right: 0.5rem;
            
        &:last-child {
            
            margin-right: 0;
        }
    }
}

.detail__poster-info {
    margin-top: 1rem;
    background-color: white;
    width: 100%;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: rgba(0, 9, 61, 0.2) 0px 4px 8px 0px;

    p {
        margin-bottom: 0.5rem;
    }

    span {
        font-weight: bold;
    }
}

.admin-user-button,
.admin-brand-button {
    margin-bottom: 1rem;
}

.brand-user,
.admin-user {
    button {
        margin-bottom: 1rem;
    }
}

.detail__extra-info {
    margin-top: 1rem;
}

.admin-user {
    display: none;
}

.brand-user {
    display: none;
}

.show-manage {
    display: block;
}